@charset "UTF-8";

/* 
Paleta de cores
    
    Verde:   #00943a
    Amarelo: #f8c500

*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
}

body, html {
    background-color: #00943a ;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background:#00943a url(../imagens/foto2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}


section#login > div#formulario {
    padding: 10px;
}